<h3 class="center">Виджет курса валюты</h3>

<div class="row">
  <div class="col m2 l2"></div>
  <div class="col s12 m12 l8">

      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-image">
              <img src="images/currency.jpg">
              <span class="card-title red center" style="width:100%;">Курс валют</span>
            </div>
            <div class="card-content center">
              <p class="flow-text">1 доллар USA = <span id="dollar"><%= @currency %></span> руб. </p>
            </div>
            <div class="card-action">
              
            </div>
          </div>
        </div>
      </div>
            
  </div>
  <div class="col m2 l2"></div>
</div>